@font-face {
  font-family: "Montserrat";
  src: 
    url("../media/fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../media/fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Named after the Tailwind palettes */
  --blue-50: #eff6ff;
  --blue-600: #2563eb;
  /* --royalblue: #5075cf; */
  --user-image-size: 64px;

  font-size: 16px;
  font-family: "Montserrat", system-ui, Roboto, Helvetica, Arial, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* --- Sidebar Styling --- */

.sidebar {
  padding: 12px 40px;
  color: #ddd;
  background-color: var(--blue-600);

  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.logo,
.links li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.links {
  font-size: 1.3rem;
  font-weight: 900;
}

.top-half {
  margin-bottom: 32px;

  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 12px;
}

.bottom-half {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
}

/* --- Header Styling --- */

header {
  background-color: var(--blue-50);
  padding: 24px;
  font-weight: 700;
  box-shadow: 2px 5px 5px #ddd;
  
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.search_form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search_form input {
  width: 100%;
  /* Padding so input doesn't hug against the left edge */
  padding-left: 8px;
  border: none;
  border-radius: 12px;
  background-color: #ddd;
}

.search_form input:focus {
  outline: 2px solid #888;
}

.user-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.user-greeting {
  display: grid;
  grid-template-columns: calc(var(--user-image-size) + 16px) 1fr;
  align-items: center;
}

.user-greeting img {
  grid-row: 1 / 3;
}

.small {
  font-size: 0.8rem;
}

.project-links ul {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.project-links a {
  padding: 8px 32px;
  border-radius: 16px;
  color: #fff;
  background-color: var(--blue-600);
}

.project-links a:visited {
  color: #fff;
}

/* --- Main Section Styling --- */

main {
  padding: 24px;
  
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects-section {
  grid-row: 1 / 3;
}

.projects-section h2 {
  margin-bottom: 24px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

/* Image Sizing */

img {
  max-width: 24px;
}

.user-icon,
.user-icon-small {
  border-radius: 50%;
}

.user-icon {
  max-width: var(--user-image-size);
}

.user-icon-small {
  max-width: 36px;
}

/* Style resets */

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
